/* 
.container{


} */

.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-line {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  

  
.table{
  width: 60%;
  text-align: center;
  margin-left: 250px;
  margin-top: 43px;
}
.table thead{
  margin-bottom: 1px solid black;

}
.table td{
  text-align: center;
  padding-top: 14px;
  padding-bottom: 25px;
}

.footer-content{
  display: flex;
}